/* ================
    Global Custom Styles 
=====================*/
body, p,a,button,h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
.heading-size{
    font-size: 2.5rem;
    font-weight: 600;
}
.semi-heading-text-color{
    color: #E76F51;
}
/*====================
  Header Custom Styles 
  ====================*/
.honda-bg{
    background-color: #264653;
}
.text-color{
    color: #E0E0E0;
}
.header-btn{
    background-color: #E76F51;
    padding: 10px 46px;
}
/* ====================
    Features Styles 
   ==================*/
.gray-scale{
    filter: grayscale(100%);
}
/* ====================
   Clients Review Styles
   ===================== */
.cnt-color{
    color: #6C6C6C;
}
.icon-color{
    color: #E77C40;
}
.client-possition{
    font-weight: 600;
    color: #252B42;
}


/* =================
    Bonous Secttion 
   =================*/
/* Choose us Styles */
.choose-us-single{
    padding: 30px;
    margin-bottom: 30px;
    transition: .5s;
}
.choose-us-single::before{
    content: "";
    position: absolute;
    left: 0;
    top: -120px;
    right: 0;
    margin: auto;
    background-color: #fdebeb;
    width: 90%;
    height: 60%;
    border-radius: 50%;
}
.choose-us-single:hover{
    transform: translateY(-12px);
}
.ficon i{
    background-color: #ffffff;
    color: #e73c3e;
    font-size: 40px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    position: relative;
    transition: .5s;
}
.choose-us-single:hover .ficon i{
    color: #ffffff;
    background-color: #e73c3e;
}
.choose-us-single h3{
    color: #111111;
    font-size: 25px;
}
/* Bike accossories styles */
.thumbnail::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: #e73c3e;
    opacity: .9;
    transition: all .5s ease-in-out;
}
.single-accossories:hover .thumbnail::before{
    width: 100%;
    height: 100%;
}
.cart-btn{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.single-accossories:hover .cart-btn{
    visibility: visible;
    opacity: 1;
}
